<!DOCTYPE html>
<html lang="en">
    
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <title>Kirish | DataShop</title>
</head>


<body>
    <div class="container">
        <img src="{% static 'img/datalogo.png' %}" alt="" class="title">
        <div class="inputs">
            
            <div class="email-input">
                <p class="input-title">Email</p>
                <div class="user">
                    <i class="fa-solid fa-user"></i>
                   <input class="input" type="email" placeholder="Email adresingizni kiriting"> 
                </div>
                
            </div>

            <div class="email-input">
                <p class="input-title">Password</p>
                <div class="lock">
                    <i class="fa-solid fa-lock"></i>
                    <input class="input" type="password" placeholder="Parol ornating">
                </div>
            </div>
        </div>
        <a href="#" class="password-no">Parol estan chiqdimi?</a>
        <button class="btn">Kirish</button>
        <p class="dd">Ichtimoiy tarmoqlar orqali<br>Ro'yxatdan otish</p>

        <div class="icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-google"></i>
        </div>
        <div class="footer">
            <p class="dd">Yoki Ro'yxatdan oting</p>
            <a href="" class="signup">Ro'yxatdan otish</a>
        </div>

    </div>
</body>

</html>

</html>